body
{
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}
a
{
  text-decoration: none;
  color: black;
}
hr{
  border-top: 0.5px #e5e5e5 solid
}
.text-align-left
{
  text-align: left;
}

.text-align-center
{
  text-align:center;
}

.cell-styling
{
  border: 1px solid #e5e5e5;
  padding-top:25px;
  padding-bottom:25px;

}

.directory-bar
{
  margin-top: 50px;
  margin-bottom: 45px;
  margin-left: 390px;

}
.directory-bar a
{


    text-align: : left;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 14px;
    color: #333333;
    font-weight: 400;
    font-family: "Roboto";


}

.directory-bar i
{
  font-size: 12px;
  padding: 0px 5px 0px 5px;
}


.mainpage {
  margin-left: 390px;
  margin-right: 15%;
}

table,tr {
  border: 1px solid lightgrey;
  border-collapse: collapse;
  padding-left: 10px;
}
td{
  border: 1px solid lightgrey;
  border-collapse: collapse;
  padding:20px;
  vertical-align: middle;
  text-align: center;
}
.cart-item-image
{
  width:30%;
  margin-left: 10px
}

.cart-item-image img
{
  float: left;
  height:100px;
  width: 80px;
  max-width: 100%;


}
#cart
{

  margin-bottom: 20px;
  font-size: 14px;
letter-spacing: 1px;
line-height: 20px;
color: #232323;
font-weight: 500;
font-family: "Poppins";
}
#cart input
{
  width: 50px;
  height: 35px;
  text-align: center;
  border: 0.5px #e5e5e5 solid
}
.cart-item-text
{
padding-top: 50px;
}
.color-style
{
  font-size: 14px;
letter-spacing: 0px;
line-height: 20px;
color: #232323;
font-weight: 400;
font-family: "Roboto";
}
#update-cart
{
  background-color: white;
  border: solid 1px #e5e5e5;
  padding: 5px;
  width: 130px;
  height: 35px;

  font-size: 14px;
letter-spacing: 1px;
line-height: 20px;
color: #232323;
font-weight: 400;
font-family: "Poppins";
text-align: center;
}
#continue
{
  margin-left: 10px;
  background-color: #3cb878;
  color: white;
  border: hidden;
  padding: 6px;
  height: 35px;
  width: 190px;
  font-size: 14px;
letter-spacing: 1px;
line-height: 20px;
color: #ffffff;
font-weight: 400;
font-family: "Poppins";
}
.mainpage-left
{
  float: left;
  margin-right: 30px;
}

.discount-code
{
  width: 100%;
  display: inline-block;
  border-top: 15px;
  border-right: 10px;
  margin-bottom: 20px;
}
.mainpage-left h5
{
  box-sizing: border-box;
  font-size: 14px;
letter-spacing: 1px;
color: #242628;
font-weight: 600;
font-family: "Poppins";
}
.coupon-input
{
  display: inline-block;
  box-sizing: border-box;
  height: 45px;
  width: 440px;
  padding-left:20px;
  border: 0.5px #b3b2b3 solid;

}
.apply-button
{
box-sizing: border-box;
  margin-left: -5px;
  width: 130px;
  background-color: #3cb878;
  color: white;
  border: hidden;
  height: 45px;

  font-size: 14px;
letter-spacing: 1px;
color: #fefefe;
font-weight: 400;
font-family: "Poppins";
}
.mainpage-right
{
  float: right;
}
.mainpage-right h5
{font-size: 14px;
letter-spacing: 1px;
color: #242628;
font-weight: 600;
font-family: "Poppins";}
.caption
{
  font-size: 12px;
  color: lightgrey;
  margin-bottom: 15px;
}

.select  select{
  width: 570px;
  height: 45px;
  padding-left: 20px;
  padding-right: 15px;
}
.shipping
{
  margin-top: 10px;
  margin-bottom: 10px;
}
.shipping input
{width: 570px;
height: 45px;
box-sizing: border-box;
padding-left: 20px;
border: 0.2px #a3a2a3 solid}
.container
{
  border: 1px lightgrey solid;
  padding: 20px;
  padding-bottom: 10px;
  padding-top: 12px;
}
.update-detail button
{
  height:35px;
  width:150px;
  border: 0.5px #b3b2b3 solid;

  font-size: 14px;
letter-spacing: 1px;
color: #232323;
font-weight: 400;
font-family: "Poppins";
}

.container-item span
{
  font-size: 14px;
letter-spacing: 0px;
line-height: 20px;
color: #232323;
font-weight: 400;
font-family: "Roboto";
line-height: 40px;
}

#checkout
{
  box-sizing: border-box;
  height: 50px;
  width: 215px;
  font-size: 14px;
letter-spacing: 1px;
color: #ffffff;
font-weight: 400;
font-family: "Poppins";
background-color: #3cb878;
}
.container-item
{
  font-size: 12px;
  margin-bottom: 10px;
}
.update-button{
  margin-top: 5px;
  width:25%;
  background-color:white;
  border: 1px solid;
  padding:5px 10px 5px 10px;

}
.checkout-button
{
  margin-top: 8px;
  float: right;
  padding:5px;
  background-color: lightgreen;
  color: white;
  border: hidden;
  font-size: 13px;
  height: 40px;
}

.connect-right
{
  margin-right: 300px !important ;
}

#last-footer-col
{
  margin-left: 50px !important;
}
