body
{
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}
a
{
  text-decoration: none;
  color: black;
}

.text-align-left
{
  text-align: left;
}

.text-align-center
{
  text-align:center;
}

.cell-styling
{
  border: 1px solid lightgrey
}
.header {
  overflow: hidden;
  background-color: white;
  padding-top: 20px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  line-height: 25px;
  border-radius: 4px;

}



.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  color: Green;
}

.header-left
{
  width: 25%;
  font-weight: bolder;
  font-size: 28px;
}
.header-center {
  width:35%;
  margin:0 auto;
  color: gray;
  padding-bottom: 10px;
  font-weight: bolder;
  font-size: 12px;


}
.header-right {
  width: 10%;
  float: right;
  font-size: 14px;
  padding-top: 0px;
}



.directory-bar
{
  margin-top: 30px;
  text-align: : left;
  margin-bottom: 25px;
  font-size: 12px;
  margin-left: 15%;
  margin-right: 15%

}

.mainpage {
  margin-left: 15%;
  margin-right: 15%;
}

table,tr {
  border: 1px solid lightgrey;
  border-collapse: collapse;
  padding-left: 10px;
}
td{
  border: 1px solid lightgrey;
  border-collapse: collapse;
  padding:20px;
  vertical-align: middle;
  text-align: center;
}
.cart-item-image
{
  width:30%;
  margin-left: 10px
}

.cart-item-image img
{
  float: left;
  height:120px;
  max-width: 100%;

}
.cart-item-text
{
padding-top: 50px;
}

#update-cart
{
  background-color: white;
  border: solid 1px lightgrey;
  padding: 5px;
}
#continue
{
  margin-left: 10px;
  background-color: lightgreen;
  color: white;
  border: hidden;
  padding: 6px;
}
.mainpage-left
{
  float: left;
 width: 49%;
}

.discount-code
{
  width: 100%
  display: inline-block;
  border-top: 15px;
  border-right: 10px;
  margin-bottom: 20px;
}
.coupon-input
{
  display: inline-block;
  height: 20px;
  border: 1px solid lightgrey;
}
.apply-button
{
  margin-left: -4px;
  width: 18%;
  background-color: lightgreen;
  color: white;
  border: hidden;
  height: 25px;
}
.mainpage-right
{
  float: right;
  width: 49%;
}
.caption
{
  font-size: 12px;
  color: lightgrey;
  margin-bottom: 5px;
}

.select {
  width: 100%;
}
.shipping
{
  margin-top: 10px;
  margin-bottom: 10px;
}
.container
{
  border: 1px lightgrey solid;
  padding: 20px;
  padding-bottom: 10px;
  padding-top: 12px;
}

.container-item
{
  font-size: 12px;
  margin-bottom: 10px;
}
.update-button{
  margin-top: 5px;
  width:25%;
  background-color:white;
  border: 1px solid;
  padding:5px 10px 5px 10px;

}
.checkout-button
{
  margin-top: 8px;
  float: right;
  padding:5px;
  background-color: lightgreen;
  color: white;
  border: hidden;
  font-size: 13px;
  height: 40px;
}
.connect
{
  width: 100%;
  display: inline-block;
}
.connect-left
{
padding-right: 30px;
  width:40%;
  text-align: left;
  display:inline;
  float: left;
  font-size: 12px;


}

.connect-right {
  width: 20%;
  display: inline;
  text-align: right;
  float: right;
  margin-right: 10px;
  font-size: 12px;

}



.footer {

}
.footer ul {
  display: inline-table;
  list-style: none;
  text-align: left;
  margin: 0px 150px 0px 0px;
  padding-inline-start:0px;
 }

 .footer li {
   margin-top: 5px;
   font-size: 12px;
 }

 .footer h4
 {
   font-size: 16px;
 }
