body
{
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}
a
{
  text-decoration: none;
  color: black;
}
hr
{
  border-top: 0.5px #e3e3e3 solid;
  border-bottom: 30px;
}
.main-page {
  margin-left: 390px;
  margin-right: 390px;
}

.directory-bar
{
  margin-top: 30px;
  text-align: : left;
  margin-bottom: 25px;
  font-size: 12px;
  margin-left: 15%;
  margin-right: 15%

}
.info {
  width: 60%;
  float: left;
}
.billing-detail
{
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 14px;
}

.col-50
{
  width: 300px;
  float: left;
}
.caption
{
  padding-bottom: 5px;
  font-size: 14px;
line-height: 20px;
color: #232323;
font-weight: 400;
font-family: "Roboto";
}

.input-50 input
{
  float: left;
  width :300px;
  height: 45px;
  margin-bottom: 20px;
  box-sizing: border-box;
  margin-right: 65px;
  padding-left: 15px;
  border: 0.2px #b3b2b3 solid;

}
.col-100 select
{
  width:660px;
  height: 45px ;
  margin-bottom:20px;
   padding-left:15px;
    border: 0.2px #b3b2b3 solid;"
    padding-right:20px;
}
.input-100 input
{
  width: 660px;
  height:45px;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding-left: 15px;
  border: 0.2px #b3b2b3 solid;
}


.billing{
  box-sizing: border-box;
  float:right;
  border: 1px solid #b3b2b3;
  width: 445px;
  margin-bottom: 5px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
  font-size: 14px;
line-height: 20px;
color: #232323;
font-weight: 400;
font-family: "Roboto";

}

.billing h5
{
  font-size: 14px;
letter-spacing: 1px;
line-height: 60px;
color: #242628;
font-weight: 600;
font-family: "Poppins";
}

.total
{
  font-size: 18px;
line-height: 20px;
color: #232323;
font-weight: 500;
font-family: "Roboto";
}
.container-item
{
  margin-bottom: 10px;
  padding-top: 0px;
}

.checkbox-text
{
  padding-top: 15px;
}
.bank-text
{font-size: 14px;
line-height: 24px;
color: #232323;
font-weight: 400;
font-family: "Roboto";
letter-spacing: 0px;
padding-right: 55px;
background-color: #f8f8f8;
padding-left:20px;
margin-top: 15px;}

.checkbox-button
{
  vertical-align: middle;

}
.checkout-button button
{
  box-sizing: border-box;
float: right;
background-color: #3cb878;
color: white;
border: hidden;
height: 35px;
width: 135px;
font-size: 14px;
letter-spacing: 1px;
color: #ffffff;
font-weight: 400;
font-family: "Poppins";
text-align: center;
}


@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }


}
</style>
