body
{
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}
a
{
  text-decoration: none;
  color: black;
}

.header {
  overflow: hidden;
  background-color: white;
  padding-top: 20px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  line-height: 25px;
  border-radius: 4px;

}



.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  color: Green;
}

.header-left
{
  width: 25%;
  font-weight: bolder;
  font-size: 28px;
}
.header-center {
  width:35%;
  margin:0 auto;
  color: gray;
  padding-bottom: 10px;
  font-weight: bolder;
  font-size: 12px;


}
.header-right {
  width: 10%;
  float: right;
  font-size: 14px;
  padding-top: 0px;
}

.main-page {
  margin-left: 15%;
  margin-right: 15%;
}

.directory-bar
{
  margin-top: 30px;
  text-align: : left;
  margin-bottom: 25px;
  font-size: 12px;
  margin-left: 15%;
  margin-right: 15%

}
.info {
  width: 60%;
  float: left;
}
.billing-detail
{
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 20px;
}

.col-50
{
  width: 45%;
  float: left;
}
.caption
{
  padding-bottom: 5px;
  font-size: 12px;
}

.input-50 input
{
  width :95%;
  height: 25px;
  margin-bottom: 10px;
}
.col-100
{
  width: 99%;
}
.input-100 input
{
  width: 99%;
  height:25px;
  margin-bottom: 10px;
}

.billing{
  float:right;
  border: 1px solid black;
  width: 38%;
  padding: 5px;
  margin-bottom: 5px;
}

.container-item
{
  font-size: 12px;
  margin-bottom: 10px;
  padding: 5px;
  padding-top: 0px;
}

.checkbox-text
{
  padding-top: 15px;
  font-size: 12px;
}

.checkout-button button
{
float: right;
padding:5px;
background-color: lightgreen;
color: white;
border: hidden;
font-size: 13px;
height: 40px;
width: 10%;
}

.connect
{
  width: 100%;
  display: inline-block;
}
.connect-left
{
padding-right: 30px;
  width:40%;
  text-align: left;
  display:inline;
  float: left;
  font-size: 12px;


}

.connect-right {
  width: 20%;
  display: inline;
  text-align: right;
  float: right;
  margin-right: 100px;
  font-size: 12px;

}



.footer {

}
.footer ul {
  display: inline-table;
  list-style: none;
  text-align: left;
  margin: 0px 78px 0px 80px;
  padding-inline-start:0px;
 }

 .footer li {
   margin-top: 5px;
   font-size: 12px;
 }


@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }


}
</style>
