<style>
* box-sizing: border-box;

body {
  color: black;
  margin: 0;
  font-family:'Poppins';
  overflow-y: scroll;
  overflow-x: hidden;
}

a
{
    color: black;
    text-decoration: none;
    padding: 0px;
}


.margin-left
{
  margin-left: 5px;
}


.header {
  width: 1920px;
  overflow: hidden;
  background-color: white;
  height:100px;
  box-sizing: border-box;
  padding: 0px;
  padding-left:70px;
  padding-top: 40px;
}


.header a
{
  padding: 0px;
}


.header-left
{
  width: auto;
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 14px;
  color: #3cb878;
  font-family: "Poppins";
  float: left;
  padding: 0px;
  margin-right:395px;

}

.header-center
{
  width: auto;
  display: inline-block;
  margin-right: 418px;
  float: left;

}
.header-center a.active
{
  color: #3cb878;
  margin-right: 50px;

}
.header-center a {
margin-right: 50px;
font-size: 16px;
letter-spacing: 0px;
line-height: 14px;
font-weight: 500;
font-family: "Poppins";
text-align: center;



}
.header-right {
  float: left;
}
.header-right i
{
  padding-right: 30px;
}
