<style>

head


body


{
  margin: auto;
  font-family: Roboto, Poppins;
  overflow-y: scroll;
  overflow-x: hidden;
}

hr
{
  color: #f5f6f9;
}

a
{
  text-decoration: none;
  color: black;
}
.clearfix
{
  clear:both;
}
.main-page {
  margin-left: 375px;
  margin-bottom: 20px;
}

.directory-bar
{
  margin-bottom: 40px;
}
.directory-bar a

{
  text-align: : left;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 14px;
  color: #333333;
  font-weight: 400;
  font-family: "Roboto";
}

.directory-bar i
{
  font-size: 12px;
  padding: 0px 5px 0px 5px;
}


.product-info{
  height: 600px;
  margin: auto;

}

.product-info-image {
  float:left;
  margin-right: 40px;
  width: 450px;


}
.product-info-image img {
  max-width: 100%;
  width: 450px;
  height: 600px;
}

.product-info-text{
  float: left;

  width: 650px;
  margin-bottom: 20px;
}
.product-info-text h2
{
  margin-bottom: -15px;
  font-size: 24px;
  letter-spacing: 1px;
  color: #232323;
  font-weight: 600;
  font-family: "Poppins";
}
.product-info-text p
{
  margin-top: 35px;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 24px;
  color: #232323;
  font-weight: 400;
  font-family: "Roboto";
  margin-bottom: 30px;
  margin-right: 130px;
}
.product-info-text h3
{
  margin-bottom: 0px;
margin-right: 15px;
display: inline-block;
font-size: 24px;
letter-spacing: 1px;
line-height: 24px;
color: #3cb878;
font-weight: 400;
font-family: "Droid Serif";
}

.product-info-text  i
{
font-size: 14px;
letter-spacing: 1px;
line-height: 24px;
color: #ff9600;
}
.clear{
  clear: both;
}
.attribute-select
{
width: 270px;
float:left;
height:45px;
margin-bottom:25px;
margin-right: 35px;
padding: 8px;
border: 0.5px #f5f6f9 solid;
}
.cart-container
{
  float: left;
}
.cart {
  width: 150px;
  height: 50px;
  float: left;
  color: white;
  border:3px;
  background: Lightgreen;
  text-align: center;
  align-items : center;
  justify-content: center;
  display : flex;



}
.cart span
{
  letter-spacing: 1px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins";
}

.cart i
{
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.icon
{

  float: left;
  text-align: center;
  align-items : center;
  justify-content: center;
  display : flex;

}
 .icon span
 {
   box-sizing: border-box;
   display: inline-block;
   padding-top: 10px;
   width: 50px;
   height: 48px;
   vertical-align: middle;
   border: 1px solid #f5f6f9;
   margin-left: 12px;

 }
.icon i
{

font-size: 18px;
line-height: 24px;
color: #333333;


}

.thumbnail-carousel
{
  width: 460px;
  height:120px;

}
.item
{
  margin: 5px;


}

.item img
{
  float:left;
  margin: 8px;
  max-width: 100%;
  width: 95px;
  height: 110px;

}
.review-description
{
 margin-top: 240px;
;
  padding-left: 10px;
  margin-bottom: 20px;

}
.description
{

  height: 45px;
  width: 135px;
  box-sizing: border-box;
  padding-top: 20px;
  padding-left: 10px;

  text-align: left;
  display: inline-block;
  background: #f5f6f9;

  font-size: 14px;
letter-spacing: 0px;
color: #333333;
font-weight: 400;
font-family: "Roboto";
}
.review
{
  text-align: left;
  display:inline-block;
  background: white;
  padding-top: 20px;
  padding-left: 10px;
  height: 45px;
  width: 135px;
  box-sizing: border-box;

  font-size: 14px;
letter-spacing: 0px;
color: #333333;
font-weight: 400;
font-family: "Roboto";
}

.description-text
{
  box-sizing: border-box;
  height: 325px;
  width:1140px;
  padding-left: 15px;
  padding-bottom: 20px;
  background-color: #f5f6f9;
  padding-top: 15px;
  font-size: 14px;
letter-spacing: 0px;
line-height: 30px;
color: #333333;
font-weight: 400;
font-family: "Roboto";
margin-bottom: 50px;

}
.related-product-text
{
  font-size: 16px;
letter-spacing: 1px;
line-height: 60px;
color: #333333;
font-weight: 600;
font-family: "Poppins";
  margin-bottom: 10px;
  margin-left: 10px;
}
.text
{

  float: left;
  text-align: left;
  display: inline-block;
}
.input-group-prepend
{
  height: 40px;

}

.input-group button
{
  height:45px;
  width: 60px;
  border: 0.5px solid #f5f6f9;
  background: white;
}
.input-group
{
  display: flex;
  height: 45px;

}
.input-group input
{
  width: 150px;
  border: 0.5px solid #f5f6f9;

}

.related-product-header
{
  height: 80px;
  vertical-align: middle;
  margin-bottom: -120px;
}

.arrow
{
  margin-right: 355px;
}
.arrow-icon
{

  box-sizing: border-box;
  float: right;
  display: inline-block;

}
.arrow-icon  i
{
  padding-top: 5px;
  border: 1px solid black;
  background-color: lightGreen;
  vertical-align: middle;
  text-align: center;
  height:20px;
  width: 35px;
  margin-left: 10px;


}


.product-image-wrapper
{
  display: inline-block;
  height:400px;
  width:  270px;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 20px;

}
.product-image img
{
  max-width: 100%;
  height: 400px;
}

.product-info {
  margin-bottom: -50px;
  display: inline-block;
  font-size: 18px;
letter-spacing: 1px;
line-height: 24px;
color: #3cb878;
font-weight: 400;
font-family: "Droid Serif";
}
.product-info span {
  font-size: 14px;
letter-spacing: 1px;
line-height: 24px;
color: #333333;
font-weight: 600;
font-family: "Poppins";

}

.star-rating {
  font-size: 14px;
letter-spacing: 1px;
line-height: 24px;
color: #ff9600;
}


.footer
{
  margin-top: -80px;
}
.connect
{
  width: 100%;
  display: inline-block;
}
.connect-left
{
  margin-left: 375px;
padding-right: 30px;
  width:30%;
  text-align: left;
  display:inline;
  float: left;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 20px;
  color: #333333;
  font-weight: 400;
  font-family: "Roboto";

}

.connect-right {
  width: 20%;
  display: inline;
  text-align: right;
  float: right;
  margin-right: 350px;
  font-size: 16px;
  letter-spacing: 14px;
  line-height: 19px;
  color: #333333;

}



.footer-bar {
margin-left: 375px;
margin-top: 40px;

}
.footer-bar ul {
  display: inline-table;
  list-style: none;
  text-align: left;
  padding-inline-start:0px;
  font-size: 16px;
letter-spacing: 1px;
line-height: 20px;
color: #333333;
font-weight: 600;
font-family: "Poppins";
 }

 .footer-bar li {
   margin-top: 10px;

   font-size: 14px;
   letter-spacing: 0px;
   line-height: 16px;
   color: #333333;
   font-weight: 400;
   font-family: "Roboto"; }


@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }


}
</style>
